body{
    margin: 0;
    font-family: 'DM Serif Text', sans-serif;
    background-color: #f0f0f0;
}

.content-page-layout1{
    padding: 0 45px ;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-section1{
    flex-basis: 80%;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-left: 30px;
}


@media (max-width: 768px) {
    .content-page-layout1{
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 15px;
        
    }

    .content-page-layout1 .sidebar{
        width: 100%;
        margin: 0;
        padding: 0;
        flex-shrink: 0;
        background: none;
        box-shadow: none;
        margin-bottom: -50px;
    }

    .content-page-layout1 .category-filter-bar {
        display: flex;
        flex-direction: row;
        overflow-x: auto;        /* Yatay kaydırma aç */
        gap: 10px;
        padding-bottom: 5px;     /* Scroll çubuğu için hafif boşluk */
        white-space: nowrap;
        border-bottom: 1px solid #eee; /* İsteğe bağlı görsel ayrım */
        
        /* Mobil kaydırma hissiyatı */
        -webkit-overflow-scrolling: touch; 
        
        /* Scroll çubuğunu gizlemek istersen bu blok kalsın, görmek istersen sil */
        scrollbar-width: none; 
        -ms-overflow-style: none;
    }

    .contact-section1{
        display: flex;
        margin-left: 2px;
    }

    .content-content{
        margin-left: 25px;
    }

    
    
}




