.content-page-layout{
    padding: 0 45px ;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar{
    flex-basis: 14%;
    height: fit-content;
    margin-top: 50px;
    background: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 20px; 
    margin-left: 20px;
    
}

.filter-btn{
    display: flex;
    align-items: center;

    width: 100%;
    text-align: left;
    border-radius: 12px;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.category-filter-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}


.contact-section{
    flex-basis: 80%;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-left: 30px;
}


@media (max-width: 768px) {
    .content-page-layout{
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 15px;
        
    }

    .content-page-layout .sidebar{
        width: 100%;
        margin: 0;
        padding: 0;
        flex-shrink: 0;
        background: none;
        box-shadow: none;
        margin-bottom: -50px;
    }

    .content-page-layout .category-filter-bar {
        display: flex;
        flex-direction: row;
        overflow-x: auto;        /* Yatay kaydırma aç */
        gap: 10px;
        padding-bottom: 5px;     /* Scroll çubuğu için hafif boşluk */
        white-space: nowrap;
        border-bottom: 1px solid #eee; /* İsteğe bağlı görsel ayrım */
        
        /* Mobil kaydırma hissiyatı */
        -webkit-overflow-scrolling: touch; 
        
        /* Scroll çubuğunu gizlemek istersen bu blok kalsın, görmek istersen sil */
        scrollbar-width: none; 
        -ms-overflow-style: none;
    }

    .contact-section{
        display: flex;
        margin-left: 2px;
    }

    .content-content1{
        margin-left: 5px;
    }

    
    
}