.login-page-container {
  
  background: radial-gradient(circle, #ebcb81, #e2bb5e);
  display: flex;
  justify-content: center;
  align-items: center;    
  min-height: 100vh;      
  gap: 60px; 
  position: relative; 
  overflow: hidden; 
  padding: 20px; 
  box-sizing: border-box;

}

.login-form-container {
  
  padding: 40px;
  background-color: #d5160c;
  border-radius: 22px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 480px; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
}

.chef-gorseli img {
  width: 600px; 
  height: auto; 
} 

.form-logo {
  width: 80px; 
  height: 80px;
  display: block;
  border-radius: 50%;
}

h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 1px;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 10px; 
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.form-group input {
  font-family: 'DM Serif Text', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 22px;
  box-sizing: border-box; 
}

.form-group input:focus{
  outline: none;
  border-color: #ffffff; 
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
}

.button-group {
  display: flex; 
  margin-top: 30px; 
}

.login-button{
  font-family: inherit;
  flex-grow: 1; 
  width: auto; 
  padding: 12px;
  background-color: #ffffff;
  color: #d5160c; 
  border: none;
  border-radius: 22px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;       
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
} 

.login-button:hover{
  background-color: #e2bb5e;
  color: #fff;
}

.password-input-container {
  position: relative; 
}

.password-input-container input {
  padding-right: 45px; 
}

.password-toggle-icon {
  position: absolute;   
  top: 50%;             
  right: 15px;          
  transform: translateY(-50%); 
  cursor: pointer;      
}

.password-toggle-img {
  width: 22px;   
  height: auto;  
  display: block; 
}

.warning{
  margin-top: 30px;
  text-align: center;
}

.register-link {
  color: #ffffffae;
  cursor: pointer;
  transition: all 0.3s;
}

.register-link:hover {
  color: #fff;
}

/* Responsive Design */

@media (max-width: 768px) {
  .login-page-container {
    flex-direction: column; 
    padding: 20px;
    gap: 40px; 
  }

  .chef-gorseli img {
    display: none;
  }

  .login-form-container {
    width: 100%; 
    max-width: 400px; 
    padding: 30px; 
  }
}