
.menu-page {
    padding: 20px;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar{
    flex-basis: 14%;
    border-radius: 12px;
    height: fit-content;
    margin-top: 50px;
}

.menu-list-section{
    padding: 20px;
}

.category-filter-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;

}

.filter-btn {
    font-family: 'Dm Serif Text', serif;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    font-size: 15px;
}

.filter-btn:hover {
    background-color: #e0e0e0;
}

.filter-btn.active {
    background-color: #e2bb5e;
    color: white;
    border-color: #ffffff;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.menu-items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.menu-item-card {
    
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.menu-item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.item-image-placeholder {
    flex-basis: 55%;
    min-width: 120px;
    height: 200px;
    overflow: hidden;
}

.item-image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-details {
    flex-basis: 75%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.item-details h3 {
    font-size: 1.15rem;
    color: #333;
    margin: 0;
}

.item-desc {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.item-price {
    font-size: 1.4rem;
    font-weight: 700;
    color: #d5160c;
}

.add-to-cart-btn {
    transition: all 0.3s ease;
    font-family: 'Dm Serif Text', serif;
    background-color: #e2bb5e; 
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.4s;
}

.add-to-cart-btn:hover {
    background-color: #d5160c;
}

.add-to-cart-btn.added {
    letter-spacing: .7px;
  background-color: #4f9d22 !important; /* Yeşil renk */
  color: white;
  cursor: default;
}

/* Stokta olmayan ürünler için gri, pasif buton */
.add-to-cart-btn.disabled {
    background-color: #827b7b !important;
    color: #f5f5f5 !important;
    cursor: not-allowed;
    box-shadow: none;
}

.item-tag {
    font-size: 0.75rem;
    padding: 3px 8px;
    border-radius: 3px;
    font-weight: 600;
    color: white;
}

.tag-Hızlı { background-color: #1abc9c; }
.tag-Şef { background-color: #e74c3c; } 
.tag-Yeni { background-color: #0d7c5d; } 
.tag-Popüler { background-color: #f31912; }
.tag-Ekonomik { background-color: #9b59b6; }
.tag-Vejetaryen { background-color: #27ae60; }
.tag-Diyet { background-color: #e6bf22; }
.tag-Soğuk { background-color: #3978a2; }

.tag-menu{
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    margin-top: 30px;
}

.tag-filter-bar {
    display: flex;
    
    padding: 5px 10px;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width:thin;
    scrollbar-color: #b7b7b73c transparent;
    
  }
  
  .tag-filter-bar::-webkit-scrollbar {
    height: 6px;
  }
  
  .tag-filter-bar::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border-radius: 20px;
  }
  

  .tag-btn {
    font-family: 'Dm Serif Text', serif;
    position: relative;
    padding: 10px 18px;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    color: #000000;
    background-color: #f4f4f4;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.25s ease;
    font-weight: 500;
    user-select: none;
  }

  .tag-btn.active {
    padding-right: 32px; 
    color: #d5160c;
  }
  
  .tag-btn.active::after {
    content: "×";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: bold;
    color: #d5160c;
    opacity: 0.9;
    transition: 0.2s ease;
  }
  
  .tag-btn.active:hover::after {
    opacity: 1;
    transform: translateY(-50%) rotate(180deg);
  }
  


/* Mobil Uyum */
@media (max-width: 768px) {
    .menu-page {
        flex-direction: column;
        padding: 15px;
        gap: 20px;
    }

    .menu-page .sidebar{
        flex-basis: 100%;
        margin-left: 0;
        padding: 0;
        background: none;
        box-shadow: none;
        margin-bottom: -50px;
    }

    .menu-page .category-filter-bar {
        display: flex;            
        flex-direction: row;      
        overflow-x: auto;         
        white-space: nowrap;      
        gap: 12px;                 
        -webkit-overflow-scrolling: touch; 
        scrollbar-width: none;
        -ms-overflow-style: none; 
      }

    

    .menu-items-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

}






