.register-button {
  font-family: inherit;
  flex-grow: 1; 
  width: 100%; 
  padding: 12px;
  background-color: #ffffff;
  color: #d5160c; 
  border: none;
  border-radius: 22px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;       
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 30px
}

.register-button:hover {
  background-color: #e2bb5e;
  color: #fff;
  
}

.password-input-container {
  position: relative; 
}

.password-input-container input {
  padding-right: 45px; 
}

.password-toggle-icon {
  position: absolute;   
  top: 50%;             
  right: 15px;          
  transform: translateY(-50%); 
  cursor: pointer;      
}

.password-toggle-img {
  width: 22px;   
  height: auto;  
  display: block; 
}

.error-message {
  color: #721c24; 
  background-color: #f8d7da; 
  border: 1px solid #f5c6cb; 
  padding: 12px;
  margin-bottom: 16px; 
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
}

.form-logo {
  width: 100px; 
  height: auto;
  display: block;
  margin: 0 auto 20px;
} 

 .chef-gorseli2 img{
  width: 600px; 
  height: auto; 
  margin-left:0px;
  transform: scaleX(-1);
}

.login-form-container2 {
  padding: 40px;
  background-color: #d5160c;
  border-radius: 12px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 480px; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
}


/* Responsive Design */

@media (max-width: 768px) {
  .login-page-container2 {
    flex-direction: column; 
    padding: 20px;
    gap: 40px; 
  }

  .chef-gorseli2 img {
    display: none;
  }

  .login-form-container2 {
    width: 100%; 
    max-width: 400px; 
    padding: 30px; 
  }

  .form-group #lastName{
     margin-left: 5px;
  }
}