.analytics-content {
    display: flex; 
    flex-direction: column;
    gap: 20px;     
    padding: 20px;
    height: 550px;
    overflow-y: auto; 
}

.up-panel {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.left-panel {
    flex: 1;       
}

.boxs{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px;
    
}

.box{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.box .headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.text h2{
    font-weight: bold;
    color: black;
}

.box .icon{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.box .contens{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.box .contens p{
    font-size: 12px;
    color: #00000086;
    letter-spacing: .7px;
}



.right-panel {
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 5px 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    height: 420px;
    border-radius: 22px;
    font-size: 18px;
}

.graph-text p{
    font-size: 12px;
    letter-spacing: .7px;
    color: #00000086;
    font-weight: bold;
}

.graph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
