.OrdersContent{
    height: 550px;
    overflow-y: auto;
    padding: 10px;
}

.up-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.up-content .box h2{
    color: black;
}