.OrdersContent {
    height: 550px;
    overflow-y: auto;
    padding: 10px;

}

.up-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.up-content .box {
    align-items: center;
}

.up-content .box h2 {
    color: black;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    padding-bottom: 5px;


}

.up-content .box p {
    font-size: 18px;
}

.detail-button button {
    padding: 5px 10px 5px 5px;
    background-color: #e2bb5e;
    border: none;
    border-radius: 18px;
    color: white;
    cursor: pointer;
    transition: all .3s;
}

.detail-button button:hover {
    background-color: #d4a83e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.add-order {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;


}

.btn-add-order {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 10px 10px 10px;
    background-color: #e2bb5e;
    border: none;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    font-family: 'DM Serif Text', sans-serif;
    text-decoration: none;
    letter-spacing: .5px;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s;
}

.btn-add-order:hover {
    background-color: #d4a83e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.orders-table-wrapper th{
    background-color: #514934;
}

.orders-table-wrapper td {
    background-color: #ffffff;
}

.orders-table-wrapper  tr:hover {
    background-color: #ebebeb;
}

.pagination button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
}

.pagination button:hover:not(:disabled) {
    background-color: #e2bb5e;
    color: white;
}

.pagination button.active-page{
    background-color: #e2bb5e;
    color: #ffffff;
    cursor: not-allowed;
}