.OrdersContent {
    height: 550px;
    overflow-y: auto;
    padding: 10px;

}

.up-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.up-content .box {
    align-items: center;
}

.up-content .box h2 {
    color: black;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.up-content .box p {
    font-size: 28px;
    font-weight: bold;
    color: #DC2525;
}

.box.status-teslim p{
    color: #9BC09C;
}

.box.status-yolda p{
    color: #901E3E;
}

.box.status-yeni p{
    color: #511D43;
}

.detail-button button {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 5px;
    background-color: #D34E4E;
    border: none;
    border-radius: 18px;
    color: white;
    cursor: pointer;
    transition: all .3s;
}

.detail-button button:hover {
    background-color: #993838;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.add-order {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;


}

.btn-add-order {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 10px 10px 10px;
    background-color: #D34E4E;
    border: none;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    font-family: 'DM Serif Text', sans-serif;
    text-decoration: none;
    letter-spacing: .5px;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s;
}

.btn-add-order:hover {
    background-color: #993838;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.orders-table-wrapper th{
    background-color: #CE7E5A;
}

.orders-table-wrapper td {
    background-color: #ffffff;
}

.orders-table-wrapper  tr:hover {
    background-color: #ebebeb;
}

.action-btn {
    background-color: #D34E4E;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .3s;
}

.action-btn:hover {
    background-color: #993838;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.pagination button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
}

.pagination button:hover:not(:disabled) {
    background-color: #9a3f3fbd;
    color: white;
}

.pagination button.active-page{
    background-color: #9A3F3F;
    color: #ffffff;
    cursor: not-allowed;
}

.add-order-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}

.add-order-form input{
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-family: 'Dm Serif Text', serif;
    outline: none;
    letter-spacing: 1px;
    width: 580px;
}

.add-order-form button {
    background-color: #9BC09C;
    font-family: 'Dm Serif Text', serif;
    letter-spacing: .7px;
    align-self: flex-end;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
}

.add-order-form button:hover {
    background-color: #6fa86f;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}