/* src/SettingsContent.css */

.SettingsContent {
    padding: 20px;
    overflow-y: auto; 
    height: 550px;
    font-family: 'DM Serif Text', serif;
}

/* Tab Navigasyonu */
.settings-tabs {
    display: flex;
    margin-bottom: 25px;
    border-bottom: 2px solid #ddd;
}

.tab-btn {
    font-family: 'DM Serif Text', serif;
    background: none;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: bolder;
    cursor: pointer;
    color: #3E0703;
    transition: color 0.2s, border-bottom 0.2s;
    border-bottom: 2px solid transparent;
}

.tab-btn:hover, .tab-btn.active {
    color: #CE7E5A;
    border-bottom: 2px solid #CE7E5A;
}

/* Ayar Form Alanı */
.settings-form-area {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

/* Ayar Grubu */
.setting-group {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #eee;
}

.setting-group h3 {
    color: #3E0703;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #232323;
}

.setting-group input[type="text"], input[type="number"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



/* Checkbox Alanı */
.checkbox-setting {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.checkbox-setting label {
    margin: 0;
    margin-right: 15px;
    font-weight: normal;
}

.checkbox-setting input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

/* Kaydet Butonu */
.save-button {
    background-color: #9A3F3F;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    border-radius: 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 20px;
}

.save-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.save-button:hover:enabled {
    background-color: #833535;
}

