.main-slider {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  margin-top: 60px;

}

.slide-content {
  width: 100%;
  height: 100%;
  background-size: 700px;

  background-position: center;
  display: flex;
  align-items: center;

  justify-content: center;

  text-align: center;
}


.slide-content .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 100px 50px;

  color: white;
  max-width: 70%;
}

.overlay h2 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #ffcb52;
}

.slide-content h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.slide-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.slider-button {
  display: inline-block;
  padding: 10px 25px;
  background-color: #d82800;
  color: white;
  text-decoration: none;
  border-radius: 22px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.slider-button:hover {
  background-color: #f33005;
}


.swiper-button-next,
.swiper-button-prev {
  color: #d82800 !important;
}

.swiper-pagination-bullet-active {
  background-color: #d82800 !important;
}




.category {
  text-align: center;
  margin-top: -50px;
  font-family: 'DM Serif Text', sans-serif;
  border: 10px solid;
  border-color: #e2bb5e;
}

.category h2 {
  padding-top: 50px;
  font-size: 36px;
  letter-spacing: 4px;
  color: #d82800;
  margin-bottom: -40px;
  border-bottom: 1px solid #e2bb5e;

}

.category-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px;
  align-items: center;
  flex-wrap: wrap;
}

.category-item {
  border-radius: 36px;
  background: #ffffff49;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  transition: background-color 0.5s ease;
  cursor: pointer;
  height: 280px;
}

.category-item:hover {
  background-color: white;
  box-shadow: 0 4px 8px #e2ba5e78;
}

.category-item img {
  width: 150px;
  height: 180px;
  border-radius: 26px;
  margin: 20px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;

}

.category-item h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #000000;


}







.chef-special {
  padding: 55px 20px;
  background-color: #e2bb5e;
  margin-top: 50px;
  margin-bottom: 50px;
}

.special-card {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffffa0;
  border-radius: 36px;

}

.special-badge {
  color: #aa1f00;
  padding: 5px 25px;
  border-radius: 15px;
  font-size: 2.8rem;
  letter-spacing: 5px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: -50px;
  margin-left: -5px;
  display: inline-block;
}

.chef-icon {
  margin-bottom: -10px;
  margin-right: 10px;
  margin-left: -40px;
  width: 60px;
}

.special-details h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  margin-right: 90px;
  color: #000;
}

.special-details p {
  font-size: 1rem;
  margin-bottom: 60px;
  margin-left: 40px;
  color: #333;
}

.order-now-button {
  padding: 12px 30px;
  background-color: #d82800;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;

  transition: background-color 0.3s;
}

.order-now-button:hover {
  background-color: #f33005;
}

.special-image {
  width: 600px;
  border-radius: 20px;

}



.delivery-image-container img{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}







@media (max-width: 992px) {
  .special-card {
    /* Küçük ekranlarda alt alta dizilme */
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
  }

  .special-details {
    padding-right: 0;
    margin-bottom: 25px;
  }

  .special-image {
    max-width: 80%;
    /* Mobil cihazlarda daha büyük görünsün */
  }

  .special-details h2 {
    font-size: 2rem;
  }
}






.container.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.container.text-center h2 {
  font-size: 36px;
  letter-spacing: 4px;
  color: #e3310e;
  margin-bottom: 20px;

}


.why-choose-us.py-5.bg-light {
  margin-top: 50px;
  padding: 50px;
  font-family: 'DM Serif Text', sans-serif;
  text-align: center;

}

.row.features-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-item {
  background: #ffffff49;
  border-radius: 36px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 30px;
  width: 250px;
  transition: background-color 0.3s ease;
}