.login-page-container {
  background: radial-gradient(circle, #ebcb81, #e2bb5e);
  display: flex;
  justify-content: center;
  align-items: center;    
  min-height: 100vh;      
  gap: 60px; 
  position: relative; 
  overflow: hidden; 
  padding: 20px; 
  box-sizing: border-box;
}

.login-form-container {
  padding: 40px;
  background-color: #d5160c;
  border-radius: 12px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 480px; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
}

.chef-gorseli img {
  width: 600px; 
  height: auto; 
} 


.form-logo {
  width: 80px; 
  height: 80px;
  display: block;
  margin: 0 auto 10px; 
  border-radius: 50%;
}

h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0; 
}

.form-group {
  margin-bottom: 0; 
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(167, 84, 1);
  border-radius: 6px;
  box-sizing: border-box; 
}

.button-group {
  display: flex; 
  gap: 80px; 
  margin-top: 10px; 
}

.login-button,
.signup-button {
  font-family: inherit;
  flex-grow: 1; 
  width: auto; 
  padding: 12px;
  background-color: #ffffff;
  color: #d5160c; 
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;       
  display: inline-flex;
  align-items: center;
  justify-content: center;
} 

.login-button:hover, .signup-button:hover {
  background-color: #f3a812;
  color: #fff;
}

.password-input-container {
  position: relative; 
}

.password-input-container input {
  padding-right: 45px; 
}

.password-toggle-icon {
  position: absolute;   
  top: 50%;             
  right: 15px;          
  transform: translateY(-50%); 
  cursor: pointer;      
}

.password-toggle-img {
  width: 22px;   
  height: auto;  
  display: block; 
}