.main-footer {
    background: linear-gradient(0deg, #e2bb5e, #ebcb81 ,#f0f0f0);
    margin-top: 20px;
    padding: 2rem 0;
    
}

.footer-content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding: 0 80px;
}

.footer-section {
    flex-basis: 60%; 
}

.f-left-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
}

.f-right-section{
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    margin-left: 40px;
}

.map-location{
   margin-left: 40px;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.links{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 20px;
}

.links h4,
.social-media h4{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    color: #490e01;
}

.links a{
    margin-bottom: 10px;
    color: #aa1f00;
}

.links a:hover {
    color: #e22b01;
}

.social-media{
    width: 300px;
}

.social-icons{
    display: flex;
    flex-direction: column;
}

.social-icons a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000000;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.social-icons .insta:hover {
    color: #ee2e68;
}

.social-icons .x:hover {
    color: #003878;
}

.social-icons .tiktok:hover {
    color: #bc0067;
} 

.social-icons .face:hover {
    color: #1259a0;
} 


.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.f-navbar-logo{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.f-navbar-logo img{
    width: 80px;
    margin-right: 15px;
    border-radius: 65px;
}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 30px;
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        padding: 0 20px;
    }

    .footer-section {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

   
    .row {
        flex-direction: column;
    }

    .links {
        margin-left: 0;
    }

    .f-right-section {
        flex-direction: column;
        margin-left: 0;
        gap: 10px;
    }

    .map-location {
        margin-left: 0;
    }

}