.main-footer {
    background-color: #c7c7c7;
    margin-top: 100px;
    padding: 2rem 0;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    
    margin: 0 auto;
    padding: 0 80px;
   
}

.footer-section {
    flex-basis: 30%; 
    margin-bottom: 20px;
}

.left-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-section{
    margin-top: 70px;
}

.footer-section h4 {
    color: #f09410; 
    margin-bottom: 15px;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 5px;
}

.about{
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 500;
}

.links{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;

}

.links a {
    color: #000000;
    margin-bottom: 10px;
}

.links a:hover {
    color: #bb6d01;
    text-decoration: underline;
}

.social-icons{
    display: flex;
    flex-direction: column;
}

.social-icons a {
    color: #000000;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.social-icons .insta:hover {
    color: #bb0139;
}

.social-icons .x:hover {
    color: #013d62;
}

.social-icons .tiktok:hover {
    color: #5f1b40;
}




.map-location {
    flex-basis: 45%; 
}

.map-embed-container {
    width: 100%;
    height: 500px;
}

.map-embed-container iframe {
    display: block;
}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 20px;
    
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-section,
    .map-location {
        flex-basis: 100%; 
        margin-bottom: 30px;
    }
}