body {
    margin: 0;
    font-family: 'DM Serif Text', sans-serif;
    background-color: #f0f0f0;

}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem;
    background: linear-gradient(180deg, #e2bb5e, #ebcb81, #f0f0f0);
    color: white;
}


.up-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 50px;
}

.account {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 22px;
}

.account:hover {
    background-color: #fff;
    color: #d5160c;
    transition: 0.3s;
}

.acc-icon {
    font-size: 22px;
    cursor: pointer;
    margin-left: 0.3rem;
    margin-bottom: -5px;
    color: #aa1f00;

}

.cart {

    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 22px;

}

.cart-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background: transparent;
    color: rgb(37, 2, 2);
    border: none;
    cursor: pointer;
    border-radius: 22px;
    font-size: 16px;
    padding: 5px 10px;
    color: #aa1f00;
}

.cart:hover {
    background-color: #fff;
    color: #aa1f00;
    transition: 0.3s;
}


.search-bar {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
}

.search-bar input {
    border: none;
    outline: none;
    padding: .75rem 1.2rem;
    font-size: 14px;
    border-radius: 22px;
    width: 600px;

}




.down-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    border-top: 1px solid rgba(255, 255, 255, 0.423);
    padding-top: 1rem;

}

.navbar-brand {
    margin-left: 80px;
}



.navbar a {
    color: rgb(37, 2, 2);
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    margin-left: 340px;


}

.navbar-links li {
    position: relative;
    margin-left: 60px;
    transition: 0.5s;
    letter-spacing: 0.75px;
    padding: 0 10px;
}

.nav-link::after {
    content: "";
    position: absolute;
    background-color: #aa1f00;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: -10px;
}

.nav-link:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.navbar-logo {
    height: 130px;
    width: 130px;
    border-radius: 65px;
}


.call-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: #aa1f00;
    transition: all 0.3s ease;
    font-weight: bolder;
    font-family: 'DM Serif Text', sans-serif;
    letter-spacing: 3px;
    margin-left: 200px;
}

.call-button:hover {
    color: #e22b01;
}

.responsive-link {
    display: none;
}

.hamburger-menu {
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}




/* Responsive Design */


@media (max-width: 768px) {

    .up-section {
        display: flex;
        flex-direction: row;
    }

    .navbar-brand {
        margin-left: 0px;
    }

    .navbar-logo {
        width: 70px;
        height: 70px;
    }

    .search-bar input {
        width: 200px;
    }

    .right-section,
    .down-section {
        display: none;
    }

    .search-bar input {
        width: 150px;
    }

    .responsive-link {
        display: block;
    }

    .hamburger-menu {
        display: block;
        z-index: 101;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .navbar-links {
        z-index: 100;
        position: fixed;
        top: 0;
        left: -100%;
        width: 90%;
        height: 70vh;
        background-color: rgba(235, 203, 129, 0.9);
        backdrop-filter: blur(3px);
        flex-direction: column;
        padding-top: 80px;
        transition: left 0.3s ease-in-out;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.7);
    }

    .navbar-links.open {
        left: 100px;
        transition: left 0.3s ease-in-out;
    }

    .navbar-links li {
        margin-left: 0;
        margin-bottom: 5px;
    }

    .responsive-link .nav-link {
        color: #fff;
    }

    .responsive-link .nav-link svg {
        margin-right: 5px;
    }

    .navbar-links .nav-link,
    .mobile-only-action .cart-button {
        padding: 15px 20px;
        width: 100px;
        display: flex;
        align-items: center;

    }

    .responsive-call .call-button {
        margin-top: 50px;
        margin-left: 40px;
        font-size: 18px;
    }

    .navbar-actions {
        display: none;
    }

}