body {
    margin: 0;
    font-family: 'DM Serif Text', sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem;
    background: linear-gradient(180deg, #f09410, #f0f0f0);
    color: white;
}


.up-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 50px;
}

.account {
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;

}

.acc-icon {
    font-size: 22px;
    cursor: pointer;
    margin-left: 0.3rem;
    margin-bottom: -5px;

}

.cart-button {
    background: #f4f4f4ba;
    color: rgb(37, 2, 2);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 22px;
    font-size: 16px;
    margin-top: 2px;
    margin-left: 10px;
}


.search-bar {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
}

.search-bar input {
    border: none;
    outline: none;
    padding: .75rem 1.2rem;
    font-size: 14px;
    border-radius: 22px;
    width: 600px;
    
}




.down-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 1rem;

}

.navbar-brand .logo-text {
    font-size: 52px;
    font-weight: bolder;
    font-family: 'Cookie', cursive;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.logo-icon{
    margin-bottom: -5px;
}


.navbar a {
    color: rgb(37, 2, 2);
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    
    
}

.navbar-links li {
    position: relative;
    margin-left: 60px;
    transition: 0.5s;
    letter-spacing: 0.75px;
    padding: 0 10px;
}

.nav-link::after {
    content: "";
    position: absolute;
    background-color:#ffffff;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: -10px;
}

.nav-link:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.navbar-logo {
    height: 130px;
    width: 130px;
    border-radius: 65px;
}